<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/style.css">
    <meta charset="UTF-8">
    <title>Rhymer Webapp</title>
</head>
<body>
<div class="form center" style="width: 400px;">
    <form method=post enctype=multipart/form-data>
        <label for="rhyme-word">Enter Word</label><br>
        <input id="rhyme-word" type=text name=Rhyme-Word accept=".txt"><br>
        <input id="submit" type=submit value=Search>
    </form>
</div>
<div class="center" style="width: 400px;">
    {% for key,value in file %}
    <p>
        {{value['poemName']}}<br />
        <strong>"{{value['text']}}"</strong><br />
        <i>Syllables</i>
        {{value['syllables']}}<br />
    </p>
    {% endfor %}
</div>
</body>
</html>